<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"   media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>

<div class="demoTable" style="margin-top: 10px">
    &nbsp;&nbsp;&nbsp;&nbsp;搜索ID：
    <div class="layui-inline">
        <input class="layui-input" name="id" id="searchId" autocomplete="on" placeholder="请输入ID进行查询">
    </div>
    <button type="button" class="layui-btn layui-btn-normal" data-type="reload" lay-filter="data-search-btn">搜索</button>

    &nbsp;&nbsp;&nbsp;&nbsp;图书查询：
    <div class="layui-inline">
        <input class="layui-input" name="id" id="searchBookName" autocomplete="on" placeholder="请输入书名查询">
    </div>
    <button type="button" class="layui-btn layui-btn-normal" data-type="reload" lay-filter="data-search-btn">搜索</button>

</div>

<table class="layui-hide" id="borrow_info" lay-filter="test"></table>


<script th:src="@{/layui/layui.js}" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述 JS 路径需要改成你本地的 -->
<script>
    layui.use('table', function(){
        var table = layui.table;

        //方法级渲染
        table.render({
            elem: '#borrow_info'
            ,url: '/manage/borrowInfoSearch'
            ,cols: [
                [
                    {checkbox: true, fixed: true}
                    ,{field:'readerId', title: '用户ID', width:200, sort: true, fixed: true}
                    ,{field:'readerName', title: '用户名', width:200}
                    ,{field:'isbn', title: 'ISBN', width:200, sort: true}
                    ,{field:'bookName', title: '书名', width:200}
                    ,{field:'loanDate', title: '借阅日期',width: 200}
                    ,{field:'returnDate', title: '归还日期', sort: true, width:200}

                ]
            ]
            ,id: 'testReload'
            ,page: true
            ,limit:10
            ,parseData: function (res) {
                var result;
                console.log(this);
                console.log(JSON.stringify(res));
                if (this.page.curr) {
                    result = res.data.slice(this.limit * (this.page.curr - 1), this.limit * this.page.curr);
                } else {
                    result = res.data.slice(0, this.limit);
                }
                return {"code": res.code, "msg": res.msg, "count": res.count, "data": result};
            }

        });

        var $ = layui.$, active = {
            reload: function(){
                var demoReloadOne = $('#searchId');        // 获取搜索框中的内容
                var demoReloadTwo = $('#searchBookName')
                //执行重载
                table.reload('testReload', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        readerId: demoReloadOne.val(),
                        bookName: demoReloadTwo.val()
                    }
                });
            }
        };

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>

</body>
</html>