<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
<table class="layui-hide" id="borrowRules" lay-filter="test"></table>
<!--头工具栏-->
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-primary" lay-event="addBorrowRule">新增</button>
        <button class="layui-btn layui-btn-danger delAll_btn" lay-event="forbidMany">批量失效</button>
    </div>
</script>
<!--行工具栏-->
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="forbid">失效</a>
</script>
<!--添加表单-->
<script type="text/html" id="add-category">
    <div class="layui-col-md10" style="margin-left: 35px; margin-top: 20px">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">序列号</label>
                <div class="layui-input-block">
                    <input type="text" name="number" required lay-verify="required" placeholder="请输入序列号" style="color: darkgray"
                           autoComplete="on" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">发布者</label>
                <div class="layui-input-block">
                    <input type="text" name="publisher" required lay-verify="required" placeholder="发布者"
                           autoComplete="on" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">借阅规则</label>
                <div class="layui-input-block">
                    <textarea name="borrowRules" placeholder="请输入内容" class="layui-textarea"></textarea>

                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="addBorrowRule">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</script>
<!--修改表单-->
<script type="text/html" id="edit-borrow-rule">
    <div class="layui-col-md10" style="margin-left: 35px; margin-top: 20px">
        <form class="layui-form" action="" lay-filter="editForm">
            <div class="layui-form-item">
                <label class="layui-form-label">序列号</label>
                <div class="layui-input-block">
                    <input type="text" name="number" required lay-verify="required" placeholder="请输入序列号" disabled value="不能进行修改"
                           autoComplete="on" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">发布者</label>
                <div class="layui-input-block">
                    <input type="text" name="publisher" required lay-verify="required" placeholder="发布者"
                           autoComplete="on" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">借阅规则</label>
                <div class="layui-input-block">
                    <textarea name="borrowRules" placeholder="请输入内容" class="layui-textarea"></textarea>

                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="edit-btn-form">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</script>
<script th:src="@{/layui/layui.js}" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述 JS 路径需要改成你本地的 -->
<script>
    layui.use(['table','form','jquery','layer'], function(){
        var layer = layui.layer
            ,$ = layui.jquery,form = layui.form,table = layui.table;
        table.render({
            elem: '#borrowRules'
            ,url: '/manage/borrowRuleManage'
            ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            ,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                ,layEvent: 'LAYTABLE_TIPS'
                ,icon: 'layui-icon-tips'
            }]
            ,title: '图书信息表'
            ,cols: [
                [
                    {type: 'checkbox', fixed: 'left'}
                    ,{field:'number', title:'序列号', width:80}
                    ,{field:'publisher', title:'发布者', width:120}
                    ,{field:'borrowRules', title:'发布规则', width:300}
                    ,{field:'publishDate', title:'发布时间', width:150}
                    ,{field:'editDate', title:'更新时间', width:150}
                    ,{field:'publishStatus', title:'状态', width:80}
                    ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}
                ]
            ]
            ,page: true
            ,limit:10
            ,parseData: function (res) {
                var result;
                console.log(this);
                console.log(JSON.stringify(res));
                if (this.page.curr) {
                    result = res.data.slice(this.limit * (this.page.curr - 1), this.limit * this.page.curr);
                } else {
                    result = res.data.slice(0, this.limit);
                }
                return {"code": res.code, "msg": res.msg, "count": res.count, "data": result};
            }
        });

        //头工具栏事件
        table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'addBorrowRule':
                    var data = checkStatus.data;
                    layer.open({
                        title:"添加图书类别",
                        type:1,
                        area:['660px','550px'],
                        content:$('#add-category').html()
                    });
                    break;
                case 'forbidMany':
                    $(".delAll_btn").click(function () {
                        var checkStatus = table.checkStatus('borrowRules'),
                            data = checkStatus.data,
                            numbers = "";
                        if (data.length > 0) {
                            for (var i in data) {
                                numbers += data[i].number + ",";
                            }
                            layer.confirm('确定将选中的规则状态置为失效？', {icon: 3, title: '提示信息'}, function (index) {
                                $.ajax({
                                    url: 'manage/forbidManyBorrowRules',
                                    type: 'PUT',
                                    data: {
                                        number: numbers
                                    },
                                    success: function(resultVo) {
                                        if (resultVo.code === 0) {
                                            layer.msg(resultVo.msg,{
                                                icon: 1,
                                                time: 1000  // 1秒关闭
                                            }, function (){
                                                // 一秒以后进行页面重新刷新
                                                location.reload();
                                            });
                                        }else if (resultVo.code === 1) {
                                            layer.msg(resultVo.msg,{
                                                icon: 0,
                                                time: 1000  // 1秒关闭
                                            }, function (){
                                                // 一秒以后进行页面重新刷新
                                                location.reload();
                                            });
                                        }else if (resultVo.code === 3) {
                                            layer.msg(resultVo.msg,{
                                                icon: 2,
                                                time: 1000  // 1秒关闭
                                            }, function (){
                                                // 一秒以后进行页面重新刷新
                                                location.reload();
                                            });
                                        }
                                        // tableIns.reload();
                                        layer.close(index);
                                    },
                                    error: function (resultVo) {
                                        console.log(data)
                                        layer.msg(resultVo.msg,{
                                            icon: 1,
                                            time: 1000,
                                        },function (){
                                            location.reload();
                                        });
                                        // tableIns.reload();
                                        layer.close(index);
                                    }

                                });
                            })
                        } else {
                            layer.msg("请选择需要删除借阅规则");
                        }
                    });

                    break;
                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('我还没有想好说什么咯！');
                    break;
            }
        });

        // 监听行工具事件
        table.on('tool(test)', function(obj){
            var data = obj.data;
            //console.log(obj)
            if (obj.event === 'forbid') {
                layer.confirm('确定将当条借阅规则状态置为失效？', {icon: 3, title: '提示信息'}, function(index) {
                    $.ajax({
                        url: 'manage/forbidBorrowStatus',
                        type: 'PUT',
                        data: {
                            number: obj.data.number
                        },
                        success: function(resultVo) {
                            if (resultVo.code === 0) {
                                layer.msg(resultVo.msg,{
                                    icon: 1,
                                    time: 1000  // 1秒关闭
                                }, function (){
                                    // 一秒以后进行页面重新刷新
                                    location.reload();
                                });
                            }else if (resultVo.code === 1) {
                                layer.msg(resultVo.msg,{
                                    icon: 0,
                                    time: 1000  // 1秒关闭
                                }, function (){
                                    // 一秒以后进行页面重新刷新
                                    location.reload();
                                });
                            }else if (resultVo.code === 3) {
                                layer.msg(resultVo.msg,{
                                    icon: 2,
                                    time: 1000  // 1秒关闭
                                }, function (){
                                    // 一秒以后进行页面重新刷新
                                    location.reload();
                                });
                            }
                            // tableIns.reload();
                            layer.close(index);
                        },
                        error: function (resultVo) {
                            console.log(data)
                            layer.msg(resultVo.msg,{
                                icon: 1,
                                time: 1000,
                            },function (){
                                location.reload();
                            });
                            // tableIns.reload();
                            layer.close(index);
                        }
                    });
                });
            }else if(obj.event === 'edit'){
                layer.open({
                    title: '编辑图书类别',
                    type: 1,
                    area: ['660px', '550px'],
                    content: $('#edit-borrow-rule').html(), // 将表单 HTML 代码作为弹出层的内容
                    success: function(layero, index) {
                        form.val("editForm", {
                            "number" : obj.data.number,
                            "publisher" : obj.data.publisher,
                            "borrowRules" : obj.data.borrowRules,
                        });

                    }
                });

            }
        });

        // 修改数据
        form.on('submit(edit-btn-form)', function (data) {
            $.post("manage/updateBorrowRules", data.field, function (resultVo) {
                if (resultVo.code === 0) {
                    layer.msg(resultVo.msg,{
                        icon: 1,
                        time: 1000  // 1秒关闭
                    }, function (){
                        // 一秒以后进行页面重新刷新
                        location.reload();
                    });
                }else if (resultVo.code === 1) {
                    layer.msg(resultVo.msg,{
                        icon: 0,
                        time: 1000  // 1秒关闭
                    }, function (){
                        // 一秒以后进行页面重新刷新
                        location.reload();
                    });
                }else if (resultVo.code === 3) {
                    layer.msg(resultVo.msg,{
                        icon: 2,
                        time: 1000  // 1秒关闭
                    }, function (){
                        // 一秒以后进行页面重新刷新
                        location.reload();
                    });
                }
            }).fail(function() {
                layer.alert('修改失败!', {icon: 2});
            });
            // 阻止form表单提示
            return false;
        })

        // 新增借阅规则
        form.on('submit(addBorrowRule)', function (data) {

            $.post("manage/insertBorrowRule", data.field, function (resultVo) {
                layer.msg(resultVo.msg,{
                    icon: 1,
                    time: 1000  // 1秒关闭
                }, function (){
                    // 一秒以后进行页面重新刷新
                    location.reload();
                });
            }).fail(function() {
                layer.alert('添加失败!', {icon: 2});
            });
            // 阻止form表单提示
            return false;
        })

    });
</script>
</body>
</html>